@import "tailwindcss";
.no-scrollview::-webkit-scrollbar {
  display: none;
}

.no-scrollview {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
:root,
.t-yRYDe {
  --colors-gray1: #333333;
  --colors-gray2: #4F4F4F;
  --colors-gray3: #828282;
  --colors-gray4: #BDBDBD;
  --colors-gray5: #E0E0E0;
  --colors-gray6: #F2F2F2;
  --colors-gray6_50: #F2F2F280;
  --colors-green: #219653;
  --colors-green2: #27AE60;
  --colors-green2_10: #27AE601A;
  --colors-green2_20: #27AE6033;
  --colors-green2_50: #27AE6080;
  --colors-purple: #9B51E0;
  --colors-purple_50: #9B51E080;
  --colors-blue2: #2D9CDB;
  --colors-red: #E64800;
  --colors-red_10: #EB57571A;
  --colors-red_20: #EB575733;
  --colors-red_50: #EB575780;
  --colors-red2: #FE4A42;
  --colors-orange2: #F2994A;
  --colors-yellow: #F2C94C;
  --colors-electionRed1: #FCF2F2;
  --colors-electionRed2: #F8E4E5;
  --colors-electionRed3: #FFCDCB;
  --colors-electionRed4: #FF7671;
  --colors-electionRed5: #FF5952;
  --colors-electionPink: #f542e6;
  --colors-polyBlue: #1652f0;
  --colors-priceBarGreen: var(--colors-green2_10);
  --colors-priceBarRed: var(--colors-red_10);
  --colors-priceBarGreenHover: var(--colors-green2_20);
  --colors-priceBarRedHover: var(--colors-red_20);
  --fonts-sauce: Open Sauce One, sans-serif;
  --fontSizes-xs: 0.6875rem;
  --fontSizes-sm: 0.75rem;
  --fontSizes-md: 0.875rem;
  --fontSizes-lg: 1rem;
  --fontSizes-xl: 1.125rem;
  --fontSizes-xxl: 1.25rem;
  --fontWeights-light: 300;
  --fontWeights-normal: 400;
  --fontWeights-medium: 500;
  --fontWeights-semi: 600;
  --fontWeights-bold: 700;
  --fontWeights-black: 900;
  --letterSpacings-tight: -0.025em;
  --letterSpacings-normal: 0;
  --letterSpacings-wide: 0.025em;
  --lineHeights-xs: 0.875;
  --lineHeights-sm: 1;
  --lineHeights-md: 1.2;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-red-50: var(--red-50);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-orange-500: oklch(70.5% .213 47.604);
  --color-amber-100: oklch(96.2% .059 95.617);
  --color-amber-500: oklch(76.9% .188 70.08);
  --color-yellow-50: var(--yellow-50);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-green-50: var(--green-50);
  --color-green-200: var(--green-200);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-cyan-500: oklch(71.5% .143 215.221);
  --color-blue-50: var(--blue-50);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-indigo-500: oklch(58.5% .233 277.117);
  --color-purple-500: oklch(62.7% .265 303.9);
  --color-pink-50: var(--pink-50);
  --color-pink-500: var(--pink-500);
  --color-gray-50: oklch(98.5% .002 247.839);
  --color-gray-200: oklch(92.8% .006 264.531);
  --color-gray-300: oklch(87.2% .01 258.338);
  --color-gray-400: oklch(70.7% .022 261.325);
  --color-gray-500: oklch(55.1% .027 264.364);
  --color-gray-900: oklch(21% .034 264.665);
  --color-zinc-500: oklch(55.2% .016 285.938);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);
}